<div class="list">
  <table class="list-table">
    <thead>
      <tr>
        <th>Categoria</th>
        <th>Descripción</th>
        <th>Status</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      @for (category of categories$ | async; track $index) {
        <tr>
          <td>{{ category.name }}</td>
          <td>{{ category.description }}</td>
          <td>
            @if (category.status) {
              Activo
            }
            @if (!category.status) {
              Inactivo
            }
          </td>

          <td>
            <div class="actions">
              <button class="btn btn--edit" (click)="onEdit(category._id)">Editar</button>
              <button class="btn btn--delete" (click)="onDelete(category._id)">Eliminar</button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
