<nav class="category-nav">
  <div class="nav-left">
    <a routerLink="/categorias"><span>Categorías</span></a>
  </div>

  <div class="divider"></div>

  <ul class="nav-center">
    @for (category of categories$ | async; track $index) {
      <li class="selection-tab">
        <a [routerLink]="category.name" class="nav-item">{{ category.name }}</a>
      </li>
    }
  </ul>

  <div class="nav-right">
    <a routerLink="/categorias">
      <span>Ver todo</span>
      <img src="icons/chevron-right-double-svgrepo-com.svg" class="icon-small" />
    </a>
  </div>
</nav>
