<nav class="category-nav">
  <a routerLink="/catalogo" class="nav-left">Categorías</a>

  <div class="divider"></div>

  <ul class="nav-center">
    @for (category of categories$ | async; track $index) {
      <li class="selection-tab">
        <a [routerLink]="['catalogo', category._id]" class="nav-item">{{ category.name }}</a>
      </li>
    }
  </ul>

  <a routerLink="/catalogo" class="nav-right">
    Ver todo
    <img src="icons/chevron-right-double-svgrepo-com.svg" class="icon-small" />
  </a>
</nav>
