<div class="product-container">
  <div class="glass-card">
    <div class="image-section">
      <div class="main-img-space"></div>
      <span class="status-tag">NUEVO</span>
    </div>

    <div class="details-section">
      <div class="header-row">
        <h1 class="product-name">Producto</h1>
        <img src="icons/hearth.svg" class="icon-small" />
      </div>

      <div class="rating-row">
        <div class="stars">
          <img src="icons/star-svgrepo-com.svg" class="icon-small" />
          <img src="icons/star-svgrepo-com.svg" class="icon-small" />
          <img src="icons/star-svgrepo-com.svg" class="icon-small" />
          <img src="icons/star-svgrepo-com.svg" class="icon-small" />
          <img src="icons/star-svgrepo-com.svg" class="icon-small" />
        </div>

        <span class="reviews-count">4.9 (127 reseñas)</span>
      </div>

      <div class="purchase-row">
        <div class="price-tag">
          <span class="label">Precio Total</span>
          <span class="value">$289.000</span>
        </div>
        <button class="main-button">Ver más</button>
      </div>
    </div>
  </div>
</div>
