.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  font-family: 'Arial', sans-serif;
}
.logo {
  text-decoration: none;
}

.logo h1 {
  color: #000000;
  font-weight: 900;
  margin: 0;
  font-size: 2rem;
}

.search-container {
  display: flex;
  flex: 0 1 500px;
  position: relative;
  margin: 0 20px;
}

.search-input {
  width: 100%;
  padding: 10px 45px 10px 20px;
  border: 2px solid #000000;
  border-radius: 25px;
  outline: none;
}

.search-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.icon-medium {
  width: 24px;
  height: 24px;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 25px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-text {
  display: flex;
  flex-direction: column;
}

.user-login {
  font-size: 0.9rem;
  color: #494949;
  font-weight: 600;
  padding: -10px 1px;
  margin-bottom: -5px;
  gap: -5px;
}

.user-login:hover {
  color: #494949;
}

.welcome {
  font-size: 0.9rem;
  color: #494949;
}

.login {
  margin-top: 0px;
  font-size: 0.9rem;
  color: #494949;
  text-decoration: none !important;

}

.login:hover {
  color: #ff0000;
}

.cart-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.cart-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-badge {
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 10px;
  border-radius: 12px;
  line-height: 1;
  margin-bottom: 2px;
}

.cart-text {
  font-size: 14px;
  font-weight: 600;
  color: #334155;
  font-family: sans-serif;
}
