<nav class="navbar">
  <a routerLink="/home" class="logo">
    <h1>MOTO</h1>
  </a>

  <div class="search-container">
    <input type="text" placeholder="Buscar productos..." class="search-input" />
    <button class="search-btn">
      <img src="icons/search.svg" alt="Buscar" class="icon-medium" />
    </button>
  </div>

  <div class="nav-actions">
    <div class="user-info">
      <img src="icons/user.svg" alt="Usuario" class="icon-medium" />
      <div class="user-text">
        <span class="welcome">Bienvenido</span>
        <a class="login" routerLink="/register">Ingresar / Registro</a>
      </div>
    </div>

    <div class="cart-container">
      <img src="icons/cart-shopping.svg" alt="Carrito" class="icon-medium" />

      <div class="cart-info">
        <span class="cart-badge">0</span>
        <span class="cart-text">Cart</span>
      </div>
    </div>
  </div>
</nav>
