<nav class="navbar">
  <a routerLink="/home" class="logo">
    <h1>MOTO</h1>
  </a>

  <div class="search-container">
    <input type="text" #searchInput (keyup.enter)="onSearch(searchInput.value)" placeholder="Buscar productos..." class="search-input" />
    <button class="search-btn" (click)="onSearch(searchInput.value)">
      <img src="icons/search.svg" alt="Buscar" class="icon-medium" />
    </button>
  </div>

  <div class="nav-actions">
    <div class="user">
      <div class="user-info">
        <img src="icons/user.svg" alt="Usuario" class="icon-medium" />
        <div class="user-text">
          <span class="welcome">Bienvenido</span>
          @if (httpAuth.currentUser$ | async; as user) {
            <span class="login" [routerLink]="['profile', user._id]">{{ user.name }}</span>
          } @else {
            <span class="login">
              <a class="login" routerLink="/login">Login</a>
              /
              <a class="login" routerLink="/register">Register</a>
            </span>
          }
        </div>
      </div>

      @if (httpAuth.currentUser$ | async; as user) {
        @if (user.role === 'user') {
          <div class="cart-container" routerLink="/cart">
            <img src="icons/cart-shopping.svg" alt="Carrito" class="icon-medium" />
            <div class="cart-info">
              <span class="cart-badge">{{ cartService.itemCount$ | async }}</span>
              <span class="cart-text">Cart</span>
            </div>
          </div>
        }
      }
    </div>

    @if (httpAuth.currentUser$ | async; as user) {
      @if (user.role === 'admin' || user.role === 'staff') {
        <div class="logout-wrapper">
          <button class="btn-admin" routerLink="/dashboard">Admin</button>
        </div>
      }
      <button class="btn-logout" (click)="onLogout()">Logout</button>
    }
  </div>
</nav>
